* {
  margin: 0;
  padding: 0;
}

footer {
  padding: 10px 0 0 0;
  border-top: 1px solid #CCC;
}

.pagination {
  margin: 2px 0 !important;
}

.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.copyright {
  padding: 5px 0 0;
  color: #FFF;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left !important;
  }
}